<div
    class="modal fade"
    id="whatsAppButtonsModal"
    tabindex="-1"
    aria-labelledby="whatsAppButtonsModalLabel"
    aria-hidden="true"
    >
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-body">
            <p id="whatsapp-buttons-modal-id" style="display: none;"></p>
            <p class="h5 mb-2" id="connect-paragraph-redirectMessage"></p>
        </div>
        <div class="modal-row border-none">
            <button
            type="button"
            class="btn btn-lg btn-primary"
            id="connect-button-whatsAppWeb"
            data-bs-dismiss="modal"
            >
            </button>
            <button
            type="button"
            class="btn btn-lg btn-primary"
            id="connect-button-whatsAppDesktop"
            data-bs-dismiss="modal"
            >
            </button>
        </div>
        </div>
    </div>
</div>