<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <script src="https://unpkg.com/i18next@latest/i18next.min.js"></script>    
</head>
<body>
    <p id="dateAndTime">Date and time the screen was generated: </p>
    <h1>Connected Users</h1>    
    <div id="connected" class="search-container">
        
    </div>

    <h1>Disconnected Users</h1>    
    <div id="disconnected" class="search-container">

    </div>
    <script src="../js/script-data-fetch.js"></script>
    <script src="../js/script-users.js"></script>    
    <script src="../js/jquery.min.js"></script>    
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/css/theme.default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.min.js"></script>
</body>
</html>
