<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <script src="https://unpkg.com/i18next@latest/i18next.min.js"></script>    
</head>
<body>
    <h1>User Logs</h1>    
    <input type="text" id="email" placeholder="" disabled value=<%= user.emails[0].value %>>
    <div id ="logs" class="search-container">
        
    </div>
    <script src="/js/script-data-fetch.js"></script>
    <script src="/js/script-user-event-logs.js"></script>    
    <script src="/js/jquery.min.js"></script>    
</body>
</html>
