<div class="toast-container custom-toast position-fixed pb-3 bottom-0 start-50 translate-middle-x">
    <!-- Success Toast Add Group -->
    <div
    id="addGroupSuccessToast"
    class="toast toast-success"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
    >
    <span class="material-symbols-outlined" aria-hidden="true">
        check_circle
    </span>
    <span class="toast-content__text" id="config-span-groupAddedSuccess"></span>
    <button
        type="button"
        class="btn-close"
        data-bs-dismiss="toast"
        aria-label="Cerrar"
    >
        <span class="material-symbols-outlined" aria-hidden="true">
        close
        </span>
    </button>
    </div>
    <!-- Success Toast Add Group End -->
    <!-- Success Toast Edit Group -->
    <div
    id="editGroupSuccessToast"
    class="toast toast-success"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
    >
    <span class="material-symbols-outlined" aria-hidden="true">
        check_circle
    </span>
    <span class="toast-content__text" id="config-span-groupChangesSavedSuccess"></span>
    <button
        type="button"
        class="btn-close"
        data-bs-dismiss="toast"
        aria-label="Cerrar"
    >
        <span class="material-symbols-outlined" aria-hidden="true">
        close
        </span>
    </button>
    </div>
    <!-- Success Toast Edit Group End -->
    <!-- Error Toast Edit Group -->
    <div
    id="editGroupErrorToast"
    class="toast toast-danger"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
    >
    <span class="material-symbols-outlined" aria-hidden="true">
        check_circle
    </span>
    <span class="toast-content__text" id="config-span-groupErrorTryAgain"></span>
    <button
        type="button"
        class="btn-close"
        data-bs-dismiss="toast"
        aria-label="Cerrar"
    >
        <span class="material-symbols-outlined" aria-hidden="true">
        close
        </span>
    </button>
    </div>
    <!-- Error Toast Edit Group End -->
    <!-- Success Toast Delete Group -->
    <div
    id="deleteGroupToast"
    class="toast toast-success"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
    >
    <span class="material-symbols-outlined" aria-hidden="true">
        check_circle
    </span>
    <span class="toast-content__text" id="config-span-groupDeleted"></span>
    <button
        type="button"
        class="btn-close"
        data-bs-dismiss="toast"
        aria-label="Cerrar"
    >
        <span class="material-symbols-outlined" aria-hidden="true">
        close
        </span>
    </button>
    </div>
    <!-- Success Toast Delete Group End -->
</div>
