<div
    class="modal fade"
    id="deleteGroupModal"
    tabindex="-1"
    aria-labelledby="deleteGroupModalLabel"
    aria-hidden="true"
    >
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-body">
            <p id="delete-group-exception-id" style="display: none;"></p>
            <p id="delete-group-exception-message" class="h5 mb-2"></p>
            <p class="mb-0" id="config-paragraph-deleteGroupConfigWarning">
            </p>
        </div>
        <div class="modal-footer border-none">
            <button
            type="button"
            class="btn btn-lg btn-outline-primary outline-none me-1"
            data-bs-dismiss="modal"
            id="config-button-cancelDeleteGroup"
            >
            </button>
            <button
            type="button"
            class="btn btn-lg btn-danger"
            data-bs-dismiss="modal"
            id="config-button-confirmDeleteGroup"
            >
            </button>
        </div>
        </div>
    </div>
</div>