<div id="section-group-main-no-rows" class="data-container data-container-data">
    <div class="icon-container">
      <span
        class="material-symbols-outlined text-info size-32"
        aria-hidden="true"
      >
        person
      </span>
    </div>

    <div>
      <h2 class="mb-2 h5 fw-normal contacts-subtitle" id="config-title-groupsCustomSettings">
      </h2>
      <p class="mb-0 body-2 text-secondary" id="config-paragraph-groupsCustomTranscriptionSettings">
      </p>
    </div>

    <div
      style="display: inline-block; width: min-content;"
      data-bs-toggle="tooltip"
      data-bs-placement="top"
      data-i18n-key="config-button-addGroup-Tooltip"
      data-bs-custom-class="custom-tooltip">
      <button
      type="button"
      style="white-space: nowrap;"
      class="btn btn-lg btn-primary btn-add-exception"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasAddGroup"
      aria-controls="offcanvasAddGroup"
      id="config-button-addGroupExceptionMain"
      >
      </button>
  </div>
</div>