<div id="section-group-main-with-rows" class="data-container data-container-table">
    <table
      class="table"
      style="--bs-table-bg: transparent !important"
    >
      <thead>
        <tr>
          <th scope="col"><span id="config-column-groupAlias"></span></th>
          <th scope="col"><span id="config-column-groupMode"></span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody id="tbody-groups" >
      </tbody>
    </table>
</div>