<div class="toast-container custom-toast position-fixed pb-3 bottom-0 start-50 translate-middle-x">
    <!-- Success Toast Add Contact -->
    <div
    id="addContactSuccessToast"
    class="toast toast-success"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
    >
    <span class="material-symbols-outlined" aria-hidden="true">
        check_circle
    </span>
    <span class="toast-content__text" id="config-span-contactAddedSuccess"></span>
    <button
        type="button"
        class="btn-close"
        data-bs-dismiss="toast"
        aria-label="Cerrar"
    >
        <span class="material-symbols-outlined" aria-hidden="true">
        close
        </span>
    </button>
    </div>
    <!-- Success Toast Add Contact End -->
    <!-- Success Toast Edit Contact -->
    <div
    id="editContactSuccessToast"
    class="toast toast-success"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
    >
    <span class="material-symbols-outlined" aria-hidden="true">
        check_circle
    </span>
    <span class="toast-content__text" id="config-span-contactChangesSavedSuccess"></span>
    <button
        type="button"
        class="btn-close"
        data-bs-dismiss="toast"
        aria-label="Cerrar"
    >
        <span class="material-symbols-outlined" aria-hidden="true">
        close
        </span>
    </button>
    </div>
    <!-- Success Toast Edit Contact End -->
    <!-- Error Toast Edit Contact -->
    <div
    id="editContactErrorToast"
    class="toast toast-danger"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
    >
    <span class="material-symbols-outlined" aria-hidden="true">
        check_circle
    </span>
    <span class="toast-content__text" id="config-span-contactErrorTryAgain"></span>
    <button
        type="button"
        class="btn-close"
        data-bs-dismiss="toast"
        aria-label="Cerrar"
    >
        <span class="material-symbols-outlined" aria-hidden="true">
        close
        </span>
    </button>
    </div>
    <!-- Error Toast Edit Contact End -->
    <!-- Success Toast Delete Contact -->
    <div
    id="deleteContactToast"
    class="toast toast-success"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
    >
    <span class="material-symbols-outlined" aria-hidden="true">
        check_circle
    </span>
    <span class="toast-content__text" id="config-span-contactDeleted"></span>
    <button
        type="button"
        class="btn-close"
        data-bs-dismiss="toast"
        aria-label="Cerrar"
    >
        <span class="material-symbols-outlined" aria-hidden="true">
        close
        </span>
    </button>
    </div>
    <!-- Success Toast Delete Contact End -->
    <!-- Success Toast Enable Transcriptions -->
    <div
        id="activateTrancripToast"
        class="toast toast-success"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
        >
        <span
            class="material-symbols-outlined"
            aria-hidden="true"
        >
            check_circle
        </span>
        <span class="toast-content__text" id="config-span-contactTranscriptionsEnabled"></span>
        <button
            type="button"
            class="btn-close"
            data-bs-dismiss="toast"
            aria-label="Cerrar"
        >
            <span
            class="material-symbols-outlined"
            aria-hidden="true"
            >
            close
            </span>
        </button>
    </div>
    <!-- Success Toast Enable Transcriptions End -->
</div>
