<div class="data-container custom-flex">
    <div>
      <h1 class="mb-0 h4" id="config-title-contactSettings"></h1>
      <p id="text-header-contacts" class="mb-0 mt-1 body-3 text-secondary"
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        data-i18n-key="text-header-contactsTooltip"
        data-bs-custom-class="custom-tooltip">
      </p>
    </div>
    <div>
      <div
        style="display: inline-block; width: min-content;"
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        data-i18n-key="config-button-addContact-Tooltip"
        data-bs-custom-class="custom-tooltip">
        <button
        type="button"
        style="white-space: nowrap;"
        class="btn btn-lg btn-primary btn-add-exception"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasAddContact"
        aria-controls="offcanvasAddContact"
        id="config-button-addContactExceptionHeader"
        >
        </button>
      </div>
    </div>
</div>