<div id="section-contact-main-with-rows" class="data-container data-container-table">
    <table
      class="table"
      style="--bs-table-bg: transparent !important"
    >
      <thead>
        <tr>
          <th id="thContactId" style="display: none;"></th>
          <th id="thContactContact" style="display: none;"></th>
          <th scope="col" style="padding-left: 1.5rem; min-width: 240px;"><span id="config-column-contactAlias"></span></th>
          <th id="thContactModeId" style="display: none;"></th>
          <th scope="col"><span id="config-column-contactMode"></span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody id="tbody-contacts">
      </tbody>
    </table>
</div>