<section id="section-connect-loading" style="display: none;" class="container">
    <div
      class="d-flex flex-column align-items-center justify-content-center gap-4 custom-loading-spacer"
    >
      <h1 class="h4 mb-2" id="connect-title-installationInProgress"></h1>
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden" id="connect-span-loading"></span>
      </div>
    </div>
</section>