<div class="col-12 col-lg-6 install-section__item">
    <div class="nav-sections mb-3">
      <img src="../../img/android-51.svg" alt="Android" />
      <p class="h6 my-2" id="connect-paragraph-androidInstructions"></p>
      <ol class="body-2 mb-0">
        <li id="connect-list-openWhatsAppAndroid"></li>
        <li id="connect-list-tapThreeDotsAndroid"></li>
        <li id="connect-list-linkedDevicesAndroid"></li>
        <li id="connect-list-linkDeviceAndroid"></li>
        <li id="connect-list-scanQRCodeAndroid"></li>
      </ol>
    </div>
    <div class="nav-sections">
      <img src="../../img/iOS.svg" alt="iOS" />
      <p class="h6 my-2" id="connect-paragraph-iosInstructions"></p>
      <ol class="body-2 mb-0">
        <li id="connect-list-openWhatsAppIos"></li>
        <li id="connect-list-tapSettingsIos"></li>
        <li id="connect-list-linkedDevicesIos"></li>
        <li id="connect-list-linkDeviceIos"></li>
        <li id="connect-list-scanQRCodeIos"></li>
      </ol>
    </div>
</div>