<div class="col-12 col-lg-6 install-section__item">
    <div class="section-qr nav-sections mb-3">
        <div id="qrcode"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-i18n-key="connect-div-qrcode-Tooltip"
            data-bs-custom-class="custom-tooltip"></div>
        <div id="connectQRSpinner" class="spinner-border text-primary" role="status"
            style="display: none; z-index: 9999;">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>