<div class="alert alert-info d-flex align-items-top gap-2 d-none" role="alert" id="activateTrancripAlert">
    <span class="material-symbols-outlined text-info" aria-hidden="true" >info</span>
    <div class="d-flex flex-column flex-lg-row justify-content-between gap-2 flex-grow-1">
    <p class="text-danger body-2 mb-0 mt-sm-1 mt-lg-0">
        <span id="config-span-transcriptionsPaused"></span>
        <span class="d-lg-block" id="config-span-enableTranscriptionsMessage"></span>
    </p>
    <button type="button" class="btn btn-sm btn-outline-primary w-lg-max p-2" id="activateTrancripToastBtn">
        <span class="body-2" id="config-span-activateTranscriptions"></span>
    </button>
    </div>
</div>