<nav class="container padding-x-lg-none mb-4">
    <ul class="nav aside-nav">
      <li class="nav-item" id="menu-option-general">
        <a id="link-option-general" class="nav-link active" aria-current="page" href="#"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          data-i18n-key="config-link-general-Tooltip"
          data-bs-custom-class="custom-tooltip">
          <span
            class="material-symbols-outlined d-none d-lg-block"
            aria-hidden="true"
          >
            settings
          </span>
          <span class="body-1 d-lg-none" id="config-span-verticalMenuGeneral"></span>
          <span class="body-1 d-none d-lg-block" id="config-span-verticalMenuGeneralConfig"></span
          >
        </a>
      </li>
      <li class="nav-item" id="menu-option-contacts">
        <a id="link-option-contacts" class="nav-link" href="#"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          data-i18n-key="config-link-contacts-Tooltip"
          data-bs-custom-class="custom-tooltip">
          <span
            class="material-symbols-outlined d-none d-lg-block"
            aria-hidden="true"
          >
            person
          </span>
          <span class="body-1 d-lg-none" id="config-span-verticalMenuContacts"></span>
          <span class="body-1 d-none d-lg-block" id="config-span-verticalMenuContactsConfig"></span>
        </a>
      </li>
      <li class="nav-item" id="menu-option-groups">
        <a id="link-option-groups" class="nav-link" href="#"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          data-i18n-key="config-link-groups-Tooltip"
          data-bs-custom-class="custom-tooltip">
          <span
            class="material-symbols-outlined d-none d-lg-block"
            aria-hidden="true"
          >
            groups
          </span>
          <span class="body-1 d-lg-none" id="config-span-verticalMenuGroups"></span>
          <span class="body-1 d-none d-lg-block" id="config-span-verticalMenuGroupsConfig"></span>
        </a>
      </li>
      <li class="nav-item" id="menu-option-summarization">
        <a id="link-option-summarization" class="nav-link" href="#"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          data-i18n-key="config-link-summarization-Tooltip"
          data-bs-custom-class="custom-tooltip">
          <span
            class="material-symbols-outlined d-none d-lg-block"
            aria-hidden="true"
          >
          Article
          </span>
          <span class="body-1 d-lg-none" id="config-span-verticalMenuSummarization"></span>
          <span class="body-1 d-none d-lg-block" id="config-span-verticalMenuSummarizationConfig"></span>
        </a>
      </li>
    </ul>
  </nav>